<div ContenidoCentrado >Ingresa nombre o id del pokemon</div>
<mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Buscar por nombre...</mat-label>
    <input matInput  #pokemon (keyup.enter)="buscar()">
</mat-form-field>
<div ContenidoCentrado [class]="error">
  <span style="color: red;">Error de busqueda</span>
</div>

<div [class]="spinner" ContenidoCentrado>
  <mat-spinner color="warn"></mat-spinner>
</div>


<div *ngIf="datos">
  <mat-grid-list cols="4" rowHeight="300px" >

    <mat-grid-tile>
      <mat-card>
        <img [src]="img" alt="">
      </mat-card>

    </mat-grid-tile>

    <mat-grid-tile>
      <mat-list>
          <h2>Nombre </h2>
            <mat-list-item role="listitem">{{ datos.name | uppercase}}</mat-list-item>
            <mat-divider></mat-divider>
      </mat-list>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-list>
        <h2>Id</h2>
        <div>{{ datos.id }}</div>
      </mat-list>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-list>
        <h2>Tipo</h2>
        <div *ngFor="let tipos of tipo">{{ tipos.type.name }}</div>
      </mat-list>
    </mat-grid-tile>

  </mat-grid-list>

  <mat-grid-list cols="3" rowHeight="200px">
    <mat-grid-tile>
      <mat-list>
      <h2>Habilidades </h2>
      <mat-divider></mat-divider>
      <div *ngFor="let item of habilidades">
          <mat-list-item> {{item.ability.name}}

          </mat-list-item>
      </div>
    </mat-list>
  </mat-grid-tile>

    <mat-grid-tile>
      <mat-list>
        <mat-list-item role="listitem">Peso: {{ datos.weight| alturapeso }} <code>kg</code> </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">Altura: {{ datos.height| alturapeso}} <code>mts</code> </mat-list-item>
      </mat-list>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-list>
        <h2>Experiencia Base</h2>
        <div>{{ datos.base_experience }}</div>
      </mat-list>
    </mat-grid-tile>

  </mat-grid-list>
 
</div>
 


    
  
    
 





  
  
