<mat-drawer-container class="example-container" fullscreen>
    <mat-toolbar >
        <button type="button" mat-icon-button (click)="drawer.toggle()" value="menu">
          <mat-icon >
            dashboard
          </mat-icon>
        </button>
        <span class="spacer" ></span>
      <span>Pokedex</span>
      <span class="spacer" ></span>
      <button mat-raised-button color="basic" (click)="comenzar()" routerLink="/pokemon/listapokemon" disabled="{{habilitado}}"  >Iniciar</button>
    </mat-toolbar>
   
    <mat-drawer #drawer class="example-sidenav" mode="over">
      
      <mat-toolbar >
        <h1>Busqueda</h1>
        <span class="spacer" ></span>
        <mat-divider></mat-divider>
          <mat-icon >
            search
          </mat-icon>

      </mat-toolbar>

      <mat-toolbar-row>
        <a mat-button routerLink="/pokemon/listapokemon"> 
          Lista de pokemones
        </a>
      </mat-toolbar-row>
      <mat-divider></mat-divider>
      
      <mat-toolbar-row>
        <a mat-button routerLink="/pokemon/pornombre">
          Por nombre
        </a>
      </mat-toolbar-row>
      <p></p>
      <mat-divider></mat-divider>

      <mat-toolbar-row>
        <a  mat-button routerLink="/pokemon/portipo"> 
          Por tipo
        </a>
      </mat-toolbar-row>
  
        <p></p>
      <mat-divider></mat-divider>
    
    </mat-drawer>

    <router-outlet></router-outlet>
  
  </mat-drawer-container>
