<mat-grid-list cols="2" rowHeight="2:1" >
  <mat-grid-tile>
    <div>
      <h1><b>Bienvenido</b> </h1>
      <mat-divider></mat-divider>
      <pre>Busca a tus pokemones preferidos teniendo 3 opciones de busqueda:</pre>
      <ul>
        <pre>
          <li>Por Nombre</li>
          <li>Por tipo de pokemon</li>
          <li>Y puedes ver un listado de todos los pokemones existentes</li>
        </pre>
      </ul>
    </div>
  </mat-grid-tile>
  
  <mat-grid-tile>
 
      <i>Las rutas estan protegidas... inicia sesion o registrate <a routerLink="/auth/registro" style="color: wheat;">aqui</a></i> 
   
  </mat-grid-tile>
  
  
  
</mat-grid-list>




